doctype html
head
  //
    https://upload.wikimedia.org/wikipedia/commons/a/a2/Wax_fire.gif
  meta(charset='UTF-8')
  script(src='https://unpkg.com/gifler@0.1.0/gifler.min.js')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/style.css')
  title Document
  
script(src='/reload/reload.js')
