.stella
  img.head(src='assets/Stella/redHead.gif' alt='' srcset='')
  img.eye(src='assets/Stella/cyborgEye.gif' alt='')
  img.mouth(src='assets/Stella/boca1.gif' alt='' srcset='')
  img.body(src='assets/Stella/red.png' alt='' srcset='')